---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">个人简历</div>
  </div>

  <div class="mb-10 text-justify">  
    “一句话形容不了我”
  </div> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">教育经历</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="华北电力大学（211）"
      subtitle="2021.09 - 2025.06 能源动力与机械工程专业 能源动力类"
    />
    <!-- <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    /> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">技术能力</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>熟练 Python 爬虫(正则/xpath 提取资源、ip 代理池、scrapy 分布式爬虫)。</li>
    <li>熟悉静态分析、动态调试、Frida/Xposed常见hook技术。</li>
    <li>具备 Java、JavaScript、C/C++、smali、php、c#、arm 汇编语言的阅读能力。</li>
    <li>熟悉 jadx/ida/jeb 等逆向工具；会刷脱壳机。</li>
    <li>逆向分析过小红书、京东、bilibili等大厂app的协议。</li>
    <li>熟练使用Charles、mitmproxy等工具抓包，会编写frida脚本抓包和自吐算法脚本。</li>
    <li>会 JS 和微信小程序逆向技术，能够分析混淆代码和某些点选验证码/滑块；了解 AST。</li>
    <li>拥有出色的学习能力，能够阅读英文文献，快速掌握新知识和技能，适应不断变化的技术环境。</li>
  </ul>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">实习经历</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">奖项</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> 第九届大学生物理实验竞赛<strong>国家一等奖</strong></a>
    </li>
    <li>
      <a href="http://www.ciscn.cn/upload/file/20240814/1723627577695715.pdf" target="_blank"> 第十七届全国大学生信息安全竞赛信息安全(作品赛)<strong>国家二等奖</strong></a>
    </li>
    <li>
      <a href="http://www.jienengjianpai.org/Editor/UploadFile/file/20240812/202408121235274073947.pdf" target="_blank">第十七届全国大学生节能减排社会实践与科技竞赛<strong>国家三等奖</strong></a>
    </li>
    <li>
      <a href="#" target="_blank">大学生创新创业竞赛<strong>北京市良好</strong></a>
    </li>

    <li>
      <a href="#" target="_blank">奖学金：社会工作优秀奖</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">证书</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> 雅思（coming soon...）</a>
    </li>
    <li>
      <a href="#" target="_blank"> 信息安全工程师（coming soon...）</a>
    </li>
    <li>
      <a href="#" target="_blank"> CET 6 (大学英语六级)</a>
    </li>
    <li>
      <a href="#" target="_blank"> 计算机二级 (python)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">技能</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    <li>安卓逆向</li>
    <li>js逆向</li>
    <li>小程序逆向</li>
    <li>爬虫</li>
    <li>前后端开发</li>
    <li>安卓app开发</li>
    <li>微信小程序开发</li>
    <li>python</li>
    <li>matlab</li>
    <li>java</li>
    <li>c/c++</li>
    <li>unity 3D</li>
    <li>blender</li>
    <li>MySQL</li>
    <li>vue</li>
    <li>javascript</li>
    <li>django</li>
    <li>PPt/word/excel</li>
    <li>COMSOL</li>
    <li>CAD</li>
  </ul>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">专业课</div>
  </div>
  <ul class="list-disc md:columns-4 columns-2 mx-6">
    <li>传热学</li>
    <li>工程流体力学</li>
    <li>工程热力学</li>
    <li>数学建模与MATLAB应用</li>
    <li>理论力学</li>
    <li>风力发电原理与课程设计</li>
    <li>分布式能源系统</li>
    <li>热力发电厂</li>
    <li>工程制图与CAD</li>
    <li>材料力学</li>
    <li>燃烧学</li>
    <li>机械设计</li>
    <li>自动控制原理</li> 
  </ul>

</BaseLayout>
