---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---
<!--TODO 增加搜索框或者目录 -->

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">app逆向</div>
  </div>
  <!--TODO 分行展示 -->
  <HorizontalCard 
    title="纷玩岛抢票"
    img="/纷玩岛图标_resized.webp"
    desc="用脱壳机脱壳，编写代码实现多账号脱机抢票、监测回流票等功能；成功抢到x场热门演唱会门票。"
    url="https://github.com/teapot-4l8/fenwandao"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="提供给开发者的安全入门 app"
    img="/dev_app.png"
    desc="总结并复刻市面上常见的十余种 app 防护手段，为开发者提供实用的安全防护模板。研究市面上的优秀 app，还原/借鉴 HTTPS 协议中参数的加密逻辑。作为项目负责人完成大学生创新创业训练计划，评级为北京市良好。"
    url="https://github.com/teapot-4l8/project"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="京东商品价格监测软件"
    img="/post_img.webp"
    desc="基于京东 APP 的逆向分析，使用 unidbg 主动调用 so 层算法，使用 python 的 pyqt5 库编写 UI。实现功能：增删改查商品链接、设定价格阈值、自动发送邮件通知用户。"
    url="https://github.com/teapot-4l8/jd"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">js逆向</div>
  </div>

  <HorizontalCard
    title="正方教务系统抢课脚本"
    img="/projectLogo_js_qkjb.png"
    desc="支持多线程抢课以及满人课程捡漏的 python 程序；解决 cookie 反爬及密码加密算法逆向。在B站发布教学视频，系列视频总播放量达到 10w+，吸引 1300 多名粉丝关注，帮助数百名大学生成功抢课。"
    url="https://www.bilibili.com/video/BV1pR4y1v7Lm/"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="验证码逆向"
    img="/post_img.webp"
    desc="逆向极验 4 代的滑块验证码和艺龙点选验证码，处理了若干参数的加密算法。编写滑块轨迹算法，模拟真人操作数据，使用 python 中的 requests 库发送请求。根据调用栈寻找加密参数位置，编写 python 脚本解混淆。"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">微信小程序逆向</div>
  </div>

  <HorizontalCard
    title="“投票儿”小程序刷票"
    img="/post_img.webp"
    desc="使用代理ip，建立数据库管理已创建用户。逆向`annikey` `sk`参数伪造创建用户请求。每分钟可刷xxx票，成功让幸运观众冲到榜一"
    url="https://github.com/teapot-4l8/fudgeclass"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">其它</div>
  </div>

  <HorizontalCard
    title="涡旋光束的迈克尔逊干涉实验仿真模拟"
    img="/votex.png"
    desc="以 Unity 3D 为引擎开发，Blender建立3D模型，C#编写代码，Photoshop + PaintToolSai绘制界面静态资源。"
    url="https://2d.hep.com.cn/1262921/5413"/>

  <div class="divider my-0"></div>
  <HorizontalCard
    title="ERASER：面向多模态数据的隐私遗忘系统"
    img="/mu.png"
    desc="负责前后端开发；前端使用 Vue 3、Vite 和 Element Plus；后端由 Django 框架编写"
    url="https://github.com/teapot-4l8/backend"/>

  <div class="divider my-0"></div>
  <HorizontalCard
    title="“刚柔并济”实现快速制氢的新型电极设计"
    img="/难评.png"
    desc="负责项目comsol建模部分，使用多相流和流固耦合物理场，模拟气泡在电极中的运动情况，进行网格无关分析。"
    url="#"/>

</BaseLayout>
